customtkinter
requests>=2.31.0
pystray
pillow
pyinstaller
pyTelegramBotAPI
Flask
happ://crypt5/fzvdZamGB7qB0xYwnaKQnuna13p3Vs6ROKRMJvmzzZZgUJBbGNF3WKrEnG0Up3JNQJgt35TpboueqgDMwcMtCz4fYXtCNVCx6Uea2PIOnVPBLZF5HcaiEslncs94Kx0wZ7qMPzsM9IkHEhf6lzIwlgxwlkQiRVZOWgpXCE==/je9gkMQjoNh6hHwquW8ZWqwrP+S94DYoNC+5EwSe+Ez2HO+5Vc5j8ZVP9mSMxzlw+Mp9IXgs7CCFqg5NRm++zVCWXBgCRjYyGWRZN2aycGIk6puhBxR6Hom/HQOHLLA0u9hRHrDBIucSJVRaHPeMfW3xdOtI6Dgc4e3zcgRp2Dvxt7Vh/WiffRTdz2hV80iMzENvo5UwWEh0mq1NKh94E8xbqKSdY4DXG1TZXpQ046S1eafvN9pdIHbt4/R6tK+CoRdAHgZTH+WBD+PIksQvo1plXfzGi+PQQthejDDNNRcgPkWSg2cqOPp0AzGqx+InGo6dL3idBikjkN+qlBealDp3bIvnBOY8PFeJUowLEy+hMgnx6UJo+jguk1H3pXFWuMYJrwuQYFW4xSIJQNhoAQpS80/ghJkgwztvdzcd/0pX3ZGq2mW4lWjIHJCRBOAKpLr04KE1lAErmYsXOILYOiDJD8mKHFrRGejLszunmMMTZMuUt9bb10ebHtZO3fzCNH12z//o+diNijM6dZlgwbACrnrDHpa0ZJ/V0IX+UXJ81UR7OvALjW4dsUZ7IwY8hKCM5TNUt2Ym9p+KXnGnFUD02SK4lKy2DtcC3yfkK2Bz2cW4oaGk7iE9cLHYZ5vaSy/hEE3VjMQpOK+6K7NMjhIyDkFc/3piuyP/uHgfos=ff
